{% extends "base.html" %}
{% block main_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
</head>
<body>
    <div class="account">
        <div class="account-container">
            <h1>Account</h1>
            <div class="account-grid">
                
                <div class="account-left">
                    <div class="account-content">
                        <img src="static/img/clipboard.svg" alt="record">
                        <div class="account-desc">
                            <h2 class="account-item"><a class="account-link" href="{{url_for('course_history')}}">Personal Record</a></h2>
                            <p>Access course history and view your previous grades</p>
                        </div>
                    </div>
                    <div class="account-content">
                        <img src="static/img/graduate.svg" alt="grad">
                        <div class="account-desc">
                            <h2 class="account-item"><a class="account-link"
                                                        href="{{url_for('applyForGrad')}}">Apply For Graduation</a></h2>
                            <p>Check to see if you are ready to graduate.</p>
                        </div>
                    </div>
                    <div class="account-content">
                        <img src="static/img/learn.svg" alt="tut">
                        <div class="account-desc">
                            <h2 class="account-item"><a class="account-link" href="tutorial">Tutorial</a></h2>
                            <p>Learn how to properly navigate CUNYZERO.</p>
                        </div>
                    </div>


                    
                </div>
                <div class="account-right">
                    <img src="static/img/study.svg" alt="photo" class="study"/>


                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
{% endblock %}
