{% extends "base.html" %}
{% block main_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
</head>
<body>
    <div class="account_container">
        <h1>Account Information</h1>
        <div class="row">
            <div class="col-md-10">
                <ul>
                    <li class="account-item"><a class="account-link" href="{{url_for('course_history')}}">Personal Record</a></li>
                    <li class="account-item"><a class="account-link" href="#">Apply For Graduation</a></li>
                    <li class="account-item"><a class="account-link" href="#">Tutorial</a></li>
                    {% if current_user.access >= 2 %}
                        <li class="account-item"><a class="account-link" href="#">All Academic Records</a></li>
                    {%  endif %}

                </ul>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
