{% extends "base.html" %}
{% block main_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Information</title>
</head>




<body>
    <div class="account_container">
        <h1>Account Information</h1>
        <div class="row">
            <div class="col-md-2">
                <ul>
                    <li class="account-item"><a class="account-link" href="#">Personal Record</a></li>
                    <li class="account-item"><a class="account-link" href="#">Apply For Graduation</a></li>
                    <li class="account-item"><a class="account-link" href="#">Tutorial</a></li>
                    <li class="account-item"><a class="account-link" href="#">All Academic Records</a></li>

                </ul>
            </div>
        </div>
    </div>

    
</body>
</html>
{% endblock %}