{% extends "base.html" %}
{% block main_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Apply for Graduation</title>
</head>
    

<body>
    <div class="container">
        <div class="table-responsive">
            <h1><center>GRADUATION PAGE</center></h1>
            {% if grad_status %}
            <div class="thumbnail">
                <img src="https://m.media-amazon.com/images/I/61knHr2ewOL._AC_SX355_.jpg" class="img-fluid center" alt="Confetti" style="width:100%">
                <div class="caption">
                    <h3><center> Congrats on your Completion!!! </center></h3>
                </div>
            </div>
            
            {% else %}
            <h3><center>Reckless Graduation {{student.username}} has been warned!. Fee will be added.</center></h3>
            {% endif %}

        </div>
    </div>
</body>
<br>
{% endblock %}
