{% extends "base.html" %}
{% block main_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Apply for Graduation</title>
</head>
    

<body>
    <div class="container">
        <div class="table-responsive">
            <h1><center>GRADUATION PAGE</center></h1>
            {% if grad_status %}
            <div class="col-lg-12">
                <div class="thumbnail">
                    <img src="https://lh3.googleusercontent.com/proxy/1z6PURuQkquHFtvdfh196K3M0J42ZAEHFzk9i0Cc04yEAOIZrXgg1dycz8BYzuY8N5c7ygoRQbSwOAbNsp91-Fuezxs930i5vSTkcivyns37QM3ZjjpjgDHxENIP_YMPKA_utLn1LmAA5q9ny1SigubTi9uaASka" class="img-fluid center" alt="Graduate" style="width:100%">
                    <div class="caption">
                        <h3><center> Congrats on your Completion!!! </center></h3>
                    </div>
                </div>
            </div>
            {% else %}
            <h3><center>Reckless Graduation {{student.username}} has been warned!. Fee will be added.</center></h3>
            {% endif %}

        </div>
    </div>
</body>
<br>
</html>
{% endblock %}
