{% extends "base.html" %}
{% block main_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Apply for Graduation</title>
</head>
    

<body>
    <div class="container">
        <div class="table-responsive">
            <h1>GRAD PAGE</h1>
            {% if grad_status %}
            <h3> Congrats on your Completion </h3>
            {% else %}
            <h3> Reckless Graduation {{student.username}} has been warned!. Fee will be added.</h3>
            {% endif %}

        </div>
    </div>
{% endblock %}
