<html>
    <head>
        {% if title %}
        <title> {{ title }} - GradFirstZero </title>
        {% else %}
        <title> Welcome to GradFirstZero </title>
        {% endif %}
    </head>
    <div>
        <a href="{{ url_for('index') }}" >Home</a>
        <a href="{{ url_for('login') }}" >Login</a>
        <a href="{{ url_for('account') }}" >Account</a>
        <a href="{{ url_for('register') }}" >Register</a>
    </div>

    <body>
        {% block content %} {% endblock %}
    </body>
</html>



