{% extends "base.html" %}
{% block main_content %}
<h1><center>Class Setup Page</center></h1>
<hr/>

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="h4 card-title text-primary">Make a Class</div>
            <table class="table table-bordered">
                <thread class="text-center">
                    <th>Class</th>
                    <th>Class Time</th>
                    <th>Course Instructor</th>
                    <th>Class Size</th>
                </thread>
            </table>
        </div>
    </div>
</div>
    
{% endblock %}
