{% extends "base.html" %}
{% block main_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/complaint.css">
    
</head>
<body>
    <div class="container">
        <div class="table-responsive">
            <div class="complaint">
                <h2>Complaints</h2>
                <div class="col-md-4">
                    <form action="{{ url_for('complaint') }}" method=post>
                        {{ form.hidden_tag() }}
                    
                        {{ form.name.label }}
                        {{ form.name }}
                    
                        {{ form.subject.label }}
                        {{ form.subject }}
                    
                        {{ form.complaint.label }}
                        {{ form.complaint }}
                    
                        {{ form.send }}
                        </form>
        
                </div>
            </div>
        </div>
    </div>    
</body>
</html>
{% endblock %}
