{% extends "base.html" %}
{% block main_content %}


    <link rel="stylesheet" href="/static/css/complaint.css">

    <div class="complaint">
        <h2>Complaints</h2>
        <div class="col-md-4">
            <form action="{{ url_for('complaint') }}" method=post>
                {{ form.hidden_tag() }}
            
                {{ form.name.label }}
                {{ form.name }}
            
                {{ form.subject.label }}
                {{ form.subject }}
            
                {{ form.complaint.label }}
                {{ form.complaint }}
            
                {{ form.send }}
                </form>


        </div>

    </div>

    
{% endblock %}
