{% extends "base.html" %}
{% block main_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>COURSE History</h1>
    <table>
        <thead>
            <tr>
                <th>CourseID</th>
                <th>Course</th>
                <th>Grade</th>
                <th>Credits</th>
                <th>Year</th>
            </tr>
        </thead>
        <tr>
            {% if past_courses == 0 %}
                <h3>No History Available</h3>
            {% else %}
                {% for course_id, info in past_courses.items() %}
                    <td>{{ course_id }}</td>
                    <td>{{ info[1] }}</td>
                    <td>{{ info[0] }}</td>
                    <td>{{ info[2] }}</td>
                    <td>{{ info[3] }}</td>
            </tr>
                {% endfor %}
            {% endif %}
    </table>
    
</body>
</html>
{% endblock %}
