{% extends "base.html" %}
{% block main_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1><center>Course Registration Page</center></h1>
    <hr/>
    <h5>1) Register between 2-4 courses.</h5>
    <h5>2) No time conflict among chosen classes.</h5>
    <h5>3) If class limit is reached, you will be put in the wait-list that only the course instructor can let in.</h5>
    <h5>4) You can retake the same class if you got F before.</h5>
</head>

<body>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <div class="h4 card-title text-success"> Computer Science Courses </div>
                <table class="table table-bordered">
                    <thead class="text-center">
                        <tr>
                            <th>Course Name</th>
                            <th>Section</th>
                            <th>Professor</th>
                            <th>Time</th>
                            <th>Room</th>
                            <th>Availability</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                        <tr>
                            <td><a href="{{url_for('course_page_registration', courseID=course.courseID)}}">{{ course.courseName }}</td>
                            <td>{{ course.courseID }}</td>
                            <td>{{ course.time }}</td>
                            <td>{{ course.room }}</td>
                            <td>{{ course.status }}</td>
                            <td><button type="button" class="btn btn-default">
                                    <a href="{{ url_for('register_class')}}">register</a></button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h3>Currently in Cart:</h3>
        {% if cart != 0 %}
            {% for c in cart %}
            <li> {{ c.courseName }}, {{ c.classID }}</li>
            {% endfor %}
        {% endif %}
    </div>
        
        
</body>
</html>
    
{% endblock %}
