{% extends "base.html" %}
{% block main_content %}

    <h1>COURSE PAGE</h1>
    <hr/>
    
    
<body>
    <table>
        <thead>
            <tr>
                <th>CourseID</th>
                <th>Instructor</th>
                <th>Course</th>
                <th>Credits</th>
                <th>Year</th>
            </tr>
        </thead>
        {% for course in courses %}
        <tr>
            <td>{{ course.courseID }}</td>
            <td> </td>
            <td>{{ course.courseName }}</td>
            <td>{{ course.credits }}</td>
            <td>{{ course.year }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

{% endblock %}
