{% extends "base.html" %}
{% block main_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="h4 text-primary text-center">Course Page Registration</div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Class ID</th>
                            <th>Course ID</th>
                            <th>Class Seats</th>
                            <th>Add to Shopping Cart</th>
                            <th>Remove from Shopping Cart</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if class_list == None %}
                        <h3> No Classes Available </h3>
                        {% else %}
                        {% for c in class_list %}
                        <tr>
                            <td>{{ c.classID }}</td>
                            <td>{{ c.courseID }}</td>
                            <td>{{ c.seatsNextSemester }}</td>
                            <td><button type="button" class="btn btn-success"> <a href="{{url_for('addToCart', courseID=c.courseID)}}">Add to Shopping Cart</a></button></td>
                            <td><button type="button" class="btn btn-danger"> <a href="{{url_for('removeFromCart', courseID=c.courseID)}}">Remove from Shopping Cart</a></button></td>
                        </tr>                        
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
