{% extends "base.html" %}
{% block main_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div class="container">
        <div class="table-responsive">
            <h1>Grades</h1>
        </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Course ID</th>
                        <th>Course Name</th>
                        <th>Year</th>
                        <th>Credits</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for c, key in courses.items() %}
                        <th>{{ key.courseID }}</th>
                        <td><a href="{{ url_for('course_page', courseID=key.courseID)}}">{{ key.courseName }}</a></td>
                        <td>{{ key.year }}</td>
                        <td>{{ key.credits }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Course ID</th>
                        <th>Course Name</th>
                        <th>Year</th>
                        <th>Credits</th>
                    </tr>
                </tfoot>
            </table>



        
        
    </div>

    

</body>
</html>
{% endblock %}
