{% extends "base.html" %}
{% block main_content %}
<h1><center>Your Classes</center></h1>

{% for k, v in current_classes.items() %}
    <p>{{ v.courseID }}</p>
    <p>{{ v.courseName }}</p>
    {% if current_user.access == 1 %}
        <button type="button" class="btn btn-default"><a
                href="{{url_for('dropCurrentClass', courseID=v.courseID)}}">Drop Course</a></button>
    {% endif %}
{% endfor %}

{% if current_user.access == 1 %}
<h3> Dropped Courses : </h3>
{% for k, v in current_user.droppedCourses.items() %}
    <p>Grade : {{ v[0] }}</p>
    <p>{{ v[1].courseID }}</p>
    <p>{{ v[1].courseName}}</p>
{% endfor %}

{% endif %}

    
{% endblock %}
