{% extends "base.html" %}
{% block main_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="course">
        <div class="table-responsive">
            
        </div>
        <div class="course-container">
            <h1>Course Page</h1>
            <div class="course-grid">
                {% if current_user.access == 3 %}
                
                <div class="course-left">
                    <div class="course-content">
                        <img src="static/img/presentation.png" alt="setup">
                        <div class="course-desc">
                            <h2 class="nav-item"><a class="nav-link" href="{{ url_for('class_setup') }}"id="last_nav_link">Class-Setup</a></h2>
                            <p>Create new class for the semester.</p>
                        </div>
                    </div>
                
                    <div class="course-content">
                        <img src="static/img/web.png" alt="register">
                        <div class="course-desc">
                            <h2 class="nav-item"><a class="nav-link" href="{{ url_for('course_registration') }}"id="last_nav_link">Course Registration</a></h2>
                            <p>View course and register if they are available</p>
                        </div>
                    </div>
                    <div class="course-content">
                        <img src="static/img/grades.png" alt="grades">
                        <div class="course-desc">
                            <h2 class="nav-item"><a class="nav-link" href="{{ url_for('grading_period')}}"id="last_nav_link">Grading</a></h2>
                            <p>Distribute grades for your classes.</p>
                        </div>
                    </div>

                    <div class="course-content">
                        <img src="static/img/classroom.png" alt="class">
                        <div class="course-desc">
                            <h2 class="nav-item"><a class="nav-link" href="{{ url_for('instructor_classes')}}"id="last_nav_link">Your Classes</a></h2>
                            <p>Access your classes.</p>
                        </div>
                    </div>

                    {% elif current_user.access >= 2 %}
                    <div class="course-content">
                        <img src="static/img/classroom.png" alt="class">
                        <div class="course-desc">
                            <h2 class="nav-item"><a class="nav-link" href="{{ url_for('instructor_classes')}}"id="last_nav_link">Your Classes</a></h2>
                            <p>Access your classes</p>
                        </div>
                    </div>
                    {% endif %}

                    
                </div>
                <div class="course-right">
                    <img src="static/img/manage.svg" alt="manage" class="manage"/>


                </div>
            </div>
        </div>
    </div>


</body>
</html>
{% endblock %}
