{% extends "base.html" %}
{% block main_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1 class="text-success"><center>Welcome to the Tutorial</center></h1>
</head>
<body>
    <br>    
    <div class="thumbnail">
        <img src="static/img/NavBar.png" width="100%" alt="Home page">
        <div class="caption">
            <h4><center>To navigate through the site, use the navigation bar at the top of the screen to move around.</center></h4>
        </div>
    </div>
    <br>
    <div class="image-txt-container">
        <img src="static/img/Login.png" alt="login page">
        <h4>Click on Login at the top right of the screen or on the far right of the navigation bar to sign in to your account. If you are a new user, you can register as an instructor or student with one of the two buttons at the bottom of the sign in page.</h4>
    </div>
    <br>
    
    <br>

</body>
</html>
{% endblock %}